@{
    ViewData["Title"] = "Background";
}

<div class="text-center">
    <h1 class="display-4">Background</h1>
    <p>Here's a background on how CRM was founded and how it works and such.</p>

    <p>TRAINERS:</p>
    <p>Linda Grabbe</p>
    <p>Jordan Murphy</p>
    <p>Ingrid Margaret Duva</p>

    <p>A video for your becoming smarter or whatever: <a href="https://ce.emorynursingexperience.com/courses/cultivating-our-best-selves-in-response-to-covid-19">link</a></p>

    <h3>Past Trainings</h3>
    <p>list</p>
</div>
