@{
    ViewData["Title"] = "Concepts";
}

<div class="text-center">
    <h1 class="display-4">Understanding CRM</h1>

    <img src="~/Images/resilientZone.png" />
    <p>
        The Resilient Zone represents our bandwidth of stress tolerance.  This is an internal state where we feel balanced and we can deal with life‘s little challenges as they occur during our daily lives.
        As long as we are in the Resilient Zone, we can work, interact with people, problem solve, learn, and think clearly. This is not the same as a "happy place," but we feel OK or even good. 
        Our Resilient Zone is narrower when we are hungry, tired, bored, or in pain. That is natural for anyone and when the zone is narrower, we are more easily knocked out of it.
    </p>
    <p>
        The red line represents activity in the body, specifically in the autonomic nervous system.  This is the automatic part of our nervous system which we can’t usually control. The upswing represents the accelerator of the nervous system (also called the sympathetic nervous system). The downswing represents the brakes (also called the parasympathetic nervous system). When we need to expend energy, we are in the upswing--our heart rate, blood pressure, and breathing rate go up to meet needs of the situation.  Our muscles get more tense too.
        When we can recover and relax, the brakes go on.  The parasympathetic nervous system takes over and this is where we restore our energy. Our heart rate, breathing, and blood pressure go down, along with the stress hormones.
        This rise and fall occurs throughout the day.
    </p>

    <img src="~/Images/highZone.png" />
    <p>
        This image represents what it’s like when we get knocked out of our Resilient Zone. Something happens to throw us off or out of balance. It could be something small like someone being rude. or something big--like witnessing or being the victim of violence. But it could also be the accumulated stress of microagression or bullying.
    </p>
    <p>
        When we are knocked out of the Resilient Zone, it is because of the brakes or accelerator getting stuck.  There may be too much sympathetic discharge which makes us feel irritated, edgy or angry. Too much parasympathetic discharge causes us to feel sad, disconnected, isolated, and tired.  We don't want to be around people and may not be able to get out of bed. It does not feel good to be outside the Resilient Zone and it may even feel like we are going crazy and will never feel ok again!
    </p>
    <p>
        Usually we can do something to help ourselves get back into our Resilient Zone. We can take a walkor rest, talk with a friend, write about how we feel, or see a funny program, but often people do unhealthy things in an attempt to feel better--like using drugs and alcohol or hurting themselves. Sometimes we get stuck outside of the zone and that can be scary.
        The Community Resiliency Model teaches ways to widen our zone over time, or get back into it when we realize we are outside the zone.
    </p>
</div>
