@{
    ViewData["Title"] = "ContactUs";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>

    <h3>Certified CRM Teachers:</h3>

    <div class="contact">
        <h4>
            Jordan R. Murphy, PhD, RN, CPNP-PC, Operations Director
            Community Advanced Practice Nurses, Inc.
            : <a href="mailto:ingrid.margaret.duva@emory.edu">Send email</a>
        </h4>
        <p> <img src="~/Images/JordanMurphyThumb.jpg" alt="sample" /></p>
        <p>
            Dr. Murphy is committed to supporting the well-being of individuals and communities, with a particular focus on mother-child dyads, individuals experiencing mental illness, and incarcerated populations.
            Dr. Murphy has taught CRM to numerous organizations and community groups and presented CRM during national and international conferences.
        </p>
    </div>

    <div class="contact">
        <h4>
            Ingrid Duva, PhD, MN, RN, Clinical Assistant Professor
            Nell Hodgson Woodruff School of Nursing, Emory University
            : <a href="mailto:jordan.murphy@capn.org">Send email</a>
        </h4>
        <p> <img src="~/Images/DuvaIngridThumb.jpg" alt="sample" /></p>
        <p>
            Dr. Duva focuses on supporting a positive work environment for healthcare workers by enhancing individual well-being and communication in interdisciplinary teams.
            Also interested in school health, and providing skills to support the mental and physical health of children to optimize their learning experience.
            Dr. Duva is experienced in teaching CRM to audiences of all sizes, from small private groups to larger organizations and community groups.
        </p>
    </div>

    <div class="contact">
        <h4>
            Linda Grabbe, PhD, FNP-BC, PMHNP-BC, Clinical Assistant Professor
            Nell Hodgson Woodruff School of Nursing, Emory University
            : <a href="mailto:lgrabbe@emory.edu">Send email</a>
        </h4>
        <p> <img src="~/Images/LindyGrabbeThumb.jpg" alt="sample" /></p>
        <p>
            Dr. Grabbe is committed CRM as a true community model for Georgia. She has worked with persons with addictions as well as homeless, incarcerated, and justice-involved women and youth.
            She also focuses on front-line and social service workers and children and families across Georgia. She has spoken about trauma and resilience in national and international forums.
        </p>
    </div>
</div>
