@{
    ViewData["Title"] = "ContactUs";
}

    <div class="text-center">
        <h1 class="display-4">Contact Us</h1>

        <h3>Certified CRM Teachers:</h3>

        <h4>Linda Grabbe : <a href="mailto:lgrabbe@emory.edu">Send email</a></h4>
        <p>Contact Linda Grabbe for this</p>
        <h4>Jordan Murphy : <a href="mailto:ingrid.margaret.duva@emory.edu">Send email</a></h4>
        <p>Contact Jordan Murphy for that</p>
        <h4>Ingrid Margaret Duva : <a href="mailto:jordan.murphy@capn.org">Send email</a></h4>
        <p>Contact Ingrid Margaret Duva for the other thing</p>
    </div>
