@{
    ViewData["Title"] = "Description";
}

<div class="text-center">
    <h1 class="display-4">Description</h1>
    <p>
        <img src="~/Images/happyTreeB.png" alt="tree" />
        The Community Resiliency Model (CRM) is an innovative,
        preventative, mental wellness intervention. It is a low-cost, low-intensity training, originally developed
        as a psychological first-aid tool in disaster situations. CRM has evolved into a simple set of mental
        wellness skills that can be readily learned and practiced. The CRM training is well accepted by the
        general public, including health and public safety professionals, but may be particularly helpful with
        persons with trauma, mental health, or addiction problems. The practice of these skills will contribute to
        enhanced resiliency and the ability to withstand stress. CRM is based on well-established somatic and
        sensory-motor psychotherapies—but it is not therapy. CRM has a “bottom-up” (sensory awareness)
        approach, as opposed to the more standard “top-down” (cognitive) approach. CRM targets autonomic
        nervous system regulation through an awareness of sensation in the body. This awareness of internal
        sensation is also called “felt sense.” This ability to “sense-in” or practice sensory mindfulness may be
        learned and developed. In CRM trainings, participants learn to understand the biology of their reactions
        to stress and trauma; they learn skills to track sensations connected to their wellbeing or resilience. The
        skills can increase the ability to return from a dysregulated emotional state to a balanced state when
        overwhelmed. Reinforcement of the skills is available at www.ichillapp.com, or the free app “ichill” can
        be downloaded on a smartphone.
        The first RCT of CRM showed increased well-being and resilience in Emory nurses!
    </p>
    
    <p> <img src ="~/Images/happyworldB.png" alt="sample"/></p>
    <p>
        Elaine Miller Karas (2015). Building Resilience to Trauma: The Trauma and Community Resiliency Models. New York: Routledge.
        The Trauma Resource Institute (Miller-Karas, Director) is at <a href="https://traumaresourceinstitute.com/">Trauma Resource Institute</a>
        In Georgia:  Contact Linda Grabbe at lgrabbe@emory.edu
    </p>

    <p>
        (We also love to teach trauma- and resiliency-informed care!)
        For body-based trauma therapy, look for therapists trained in the Trauma Resiliency Model, Sensorimotor Psychotherapy, or Somatic Experiencing psychotherapyre.
    </p>
</div>
