@{
    ViewData["Title"] = "Description";
}

<div class="text-center">
    <h1 class="display-4">Description</h1>
    <div>
        <div>
            <img src="~/Images/happyTreeNOTM.png" alt="tree" />
        </div>
        <p>
            The Community Resiliency Model (CRM)® is an innovative, preventative, mental wellness intervention developed by the Trauma Resource Institute.
            It is a low-cost, low-intensity training, originally developed
            as a psychological first-aid tool in disaster situations. CRM has evolved into a simple set of mental
            wellness skills that can be readily learned and practiced. The CRM training is well accepted by the
            general public, including health and public safety professionals, but may be particularly helpful with
            persons with trauma, mental health, or addiction problems. The practice of these skills will contribute to
            enhanced resiliency and the ability to withstand stress. CRM is based on well-established somatic and
            sensory-motor psychotherapies—but it is not therapy. CRM has a “bottom-up” (sensory awareness)
            approach, as opposed to the more standard “top-down” (cognitive) approach. CRM targets autonomic
            nervous system regulation through an awareness of sensation in the body. This awareness of internal
            sensation is also called “felt sense.” This ability to “sense-in” or practice sensory mindfulness may be
            learned and developed. In CRM trainings, participants learn to understand the biology of their reactions
            to stress and trauma; they learn skills to track sensations connected to their wellbeing or resilience. The
            skills can increase the ability to return from a dysregulated emotional state to a balanced state when
            overwhelmed. Reinforcement of the skills is available at www.ichillapp.com, or the free app “ichill” can
            be downloaded on a smartphone.
            The first randomized controlled trial of CRM showed increased well-being and resilience and decreased stress in Emory nurses!
        </p>
    </div>

    <button type="button" class="collapsible">
        What is a Trauma-Informed Approach?
    </button>
    <div class="subcontent">
        <p>
            Trauma-Informed Care is a framework that recognizes that over 80% of patients and healthcare/teachers/social service workers have experienced some form of early childhood trauma.
            This represents a shift in understanding of our Georgia populations.
        </p>
        <div id="traumaList">
            <ul>
                <li class="leftAlignedList">
                    At least 20% of Georgians have experienced multiple traumatic exposures before age 18, and if this exposure to trauma is not buffered,
                    these individuals are more likely to experience a multitude of after-effects: emotion dysregulation, mental health disorders, substance use disorders,
                    health-risk behaviors (smoking, unprotected sex), and chronic disease (hypertension, obesity, diabetes, heart disease, and cancer).
                    Trauma- and resiliency-informed interventions can interrupt this cycle.
                </li>
                <li class="leftAlignedList">
                    Trauma-Informed Care acknowledges the commonality of childhood trauma and can prevent inadvertent (but very common) re-traumatization of patients, students, consumers, clients.
                </li>
                <li class="leftAlignedList">
                    Human service workers who are trauma-informed will promote the safety of clients/patients and co-workers alike and will be able to understand
                    and work with potentially violent individuals to protect everyone's safety.
                </li>
                <li class="leftAlignedList">
                    Human service workers are at risk for secondary traumatic stress (vicarious trauma from their work).
                </li>
                <li class="leftAlignedList">
                    Policies and practices are critical to support evidence-based, trauma-informed programs at state, institutional, and community levels.
                    The Community Resiliency Model, both trauma-informed and resiliency-focused, is such a program.
                </li>
            </ul>
        </div>
    </div>

    <p class="pictureWithSpace"> <img src="~/Images/happyworldlogo.jpg" alt="sample" /></p>
    <p>
        CRM was designed by Elaine Miller Karas and her colleagues. This is her book:
    </p>
    <p>
        <u>Elaine Miller Karas (2015). Building Resilience to Trauma: The Trauma and Community Resiliency Models.</u> New York: Routledge.
    </p>
    <p>
        The Trauma Resource Institute (Miller-Karas, Founder) is at <a href="https://traumaresourceinstitute.com/">Trauma Resource Institute</a>
    </p>

    <p>
        For body-based trauma therapy, look for therapists trained in the Trauma Resiliency Model, Sensorimotor Psychotherapy, or Somatic Experiencing psychotherapy.
    </p>
</div>
