@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRMGeorgia! </h1>
    <img src="~/Images/happyTreeNOTM.png" alt="tree" />
    <p>
        We are eager to tell you about the Community Resiliency Model (CRM),® a unique self-care
        program from the Trauma Resource Institute that teaches individuals how to access their own
        internal strengths to withstand stress. We are currently teaching in sites across Georgia and the
        United States. Please explore our website for more
        information.
    </p>
    <h3>Mission:</h3>
    <p>
        To build an overarching program of positive health and well-being in the State of Georgia through:
        <li>Community Resiliency Model (CRM)® training to providers of care and community members</li>
        <li>Capacity building through community partnerships</li>
        <li>
            Expansion of CRM’s evidence base with translation and communication of research
            findings.
        </li>
        We will accomplish our mission by building networks that leverage our CRM teaching expertise and expanding the cadre of CRM certified teachers throughout Georgia. 
        Based on our research to date, CRM significantly decreases physical and mental stress symptoms and increases the sense of well-being.
    </p>
    <h3>Vision:</h3>
    <p>
        CRMGeorgia aims to shift deficit-based perceptions of mental health to an understanding of well-being in its broadest sense.  The self-care, resiliency, 
        and use of internal resources of CRM will promote a greater sense of well-being and emotional stability for the citizens of Georgia and beyond.
    </p>
    <p>
        CRMGeorgia is a central hub in the State of Georgia to advance trauma- and resiliency-informed CRM trainings to individuals and groups in neighborhoods, 
        communities, schools, law enforcement, healthcare, social services, corrections, and many other settings.
    </p>
    <p>
        CRMGeorgia focuses on biologic responses to stress and trauma and biologic skills to cope with life’s challenges. CRM concepts and skills are based on the neuroscience of trauma and resiliency.
    </p>
</div>
