@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRM Georgia! </h1>
    <img src="~/Images/happyTreeNOTM.png" alt="tree" />
    <p>
        We are eager to tell you about the Community Resiliency Model,® also called CRM, a unique self-care program from the Trauma Resource Institute that teaches individuals how to access their own internal strengths to withstand stress.
        We are currently teaching in sites across Georgia and the United States. Currently all of our teaching is virtual.  Please explore our website for more information.
    </p>
</div>
