@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRMGeorgia! </h1>
    <img src="~/Images/happyTreeNOTM.png" alt="tree" />
    <p>
        We are eager to tell you about the Community Resiliency Model (CRM)®, a unique self-care program from the Trauma Resource Institute that teaches individuals how to access their own internal strengths to withstand stress.
        We are currently teaching in sites across Georgia and the United States. Currently all of our teaching is virtual. Please explore our website for more information.
    </p>
    <h3>Mission:</h3>
    <p>
        The mission of the CRMGeorgia is to build a program of positive health and well-being in the State of Georgia. We aim to achieve this through:
        <li>Community Resiliency Model (CRM)® training to providers of care and community members</li>
        <li>Capacity building</li>
        <li>Translation and communication</li>
        We will accomplish this by building networks that leverage our CRM teaching expertise and expand the cadre of CRM certified teachers throughout Georgia.
    </p>
    <h3>Vision:</h3>
    <p>
        CRMGeorgia aims to shift perceptions of mental well-being which are deficit-based to an understanding of well-being in its broadest sense, with a focus on self-care,
        resiliency, and internal resources. By promoting this shift in perception, CRMGeorgia will help build greater well-being across the State of Georgia and beyond.
    </p>
    <p>
        CRMGeorgia is a central hub in the State of Georgia to advance trauma- and resiliency-informed CRM trainings to individuals and groups in neighborhoods and communities,
        schools, law enforcement, healthcare, social services, corrections, and many other settings.
    </p>
    <p>
        We will impart the understanding of biologic responses to stress and trauma and biologic skills to cope with challenges in everyday life as well as in emergency situations,
        thereby promoting psychological and physical well-being.  These concepts and skills are based on the neuroscience of trauma and resiliency. We aim to expand the evidence-base of CRM.
    </p>
</div>
