@{
    ViewData["Title"] = "Partnerships";
}

<div class="text-center">
    <h1 class="display-4">Partnerships</h1>

    <h3><a href="https://www.traumaresourceinstitute.com">Trauma Resource Institute</a></h3>
    <p>The Trauma Resource Institute trains individuals in the Trauma Resiliency Model® (TRM®) and the Community Resiliency Model® (CRM®), which have been developed to educate individuals about
    their nervous system and to teach easy-to-learn wellness skills to be used for self-care as well as care for others.
    A Teacher Training curriculum has also been developed for CRM® to promote capacity-building and sustainability in the regions of the world where CRM® trainings are conducted. </p>
    <p>CRM Teacher Certification from the Trauma Resource Institute</p>

    <h3><a href="https://www.capn.org">Community Advanced Practice Nurses, Inc.</a></h3>
    <p>CAPN Clinic provides free primary care to homeless women and children in the Atlanta area</p>
    <p>Vision: We believe that access to health care ​for the medically underserved is fundamental ​​to empowering people and restoring communities.</p>

    <h3><a href="http://www.nursing.emory.edu">Emory University Nell Hodgson Woodruff School of Nursing</a></h3>
    <p>The Nell Hodgson Woodruff School of Nursing offers undergraduate, graduate, and doctoral nursing programs. Graduates go on to become national and international leaders in patient care, public health, government, and education.</p>

    <h3><a href="https://georgianurses.nursingnetwork.com/">Georgia Nurses Association</a></h3>
    <p>The Georgia Nurses Association is the largest professional association for registered nurses in the State of Georgia. Their mission is empowering Georgia nurses to lead change and improve health.
    Their vision is to be the prominent association in Georgia transforming health through advancing the practice and profession of nursing.</p>

    <h3><a href="https://www.resilientga.org ">Resilient Georgia</a></h3>
    <p>Focus: We are dedicated to healing adversity and promoting resiliency in children and families through the prevention and early intervention of ACEs and sharing best practice to support Georgia’s System-of-Care implementation and coordination.</p>
</div>
