@{
    ViewData["Title"] = "Partnerships";
}

<div class="text-center">
    <h1 class="display-4">Partnerships</h1>

    <button type="button" class="collapsible">Trauma Resource Institute</button>
    <div class="subcontent">
        <p>
            The Trauma Resource Institute trains individuals in the Trauma Resiliency Model® (TRM®) and the Community Resiliency Model® (CRM®), which have been developed to educate individuals about
            their nervous system and to teach easy-to-learn wellness skills to be used for self-care as well as care for others.
            A Teacher Training curriculum has also been developed for CRM® to promote capacity-building and sustainability in the regions of the world where CRM® trainings are conducted.
        </p>
        <p>CRM Teacher Certification from the <a href="https://www.traumaresourceinstitute.com">Trauma Resource Institute</a></p>
        <p>
            <a href="https://www.traumaresourceinstitute.com">link</a>
        </p>
    </div>

    <button type="button" class="collapsible">Community Advanced Practice Nurses, Inc.</button>
    <div class="subcontent">
        <p>
            CAPN Clinic provides free primary care to homeless women and children in the Atlanta area. CAPN's vision is that access to health care ​for the medically underserved is fundamental ​​to empowering people and restoring communities.
            CAPN has been instrumental in getting CRM to Georgia Communities.
        </p>
        <p>
            <a href="https://www.capn.org">link</a>
        </p>
    </div>

    <button type="button" class="collapsible">Emory University Nell Hodgson Woodruff School of Nursing</button>
    <div class="subcontent">
        <p>
            The Nell Hodgson Woodruff School of Nursing offers undergraduate, graduate, and doctoral nursing programs. Graduates go on to become national and international leaders in patient care, public health, government, and education.
            The School of Nursing has been a center of critical CRM research in the United States.
        </p>
        <p>
            <a href="http://www.nursing.emory.edu">link</a>
        </p>
    </div>

    <button type="button" class="collapsible">Georgia Nurses Association (GNA)</button>
    <div class="subcontent">
        <p>
            The Georgia Nurses Association is the largest professional association for registered nurses in the State of Georgia. Their mission is empowering Georgia nurses to lead change and improve health.
            Their vision is to be the prominent association in Georgia transforming health through advancing the practice and profession of nursing.
            GNA has sponsored CRM training among Georiga nurses during the COVID crisis.
        </p>
        <p>
            <a href="https://georgianurses.nursingnetwork.com/">link</a>
        </p>
    </div>

    <button type="button" class="collapsible">Resilient Georgia</button>
    <div class="subcontent">
        <p>
            Focus: We are dedicated to healing adversity and promoting resiliency in children and families through the prevention and early intervention of ACEs and sharing best practice to support Georgia’s System-of-Care implementation and coordination.
            Resilient Georgia is has sponsored CRM workshops throughout Georgia.
        </p>
        <p>
            <a href="https://www.resilientga.org">link</a>
        </p>
    </div>

    <button type="button" class="collapsible">Self-Discovery: Pain, Positioning & Purpose, Inc.</button>
    <div class="subcontent">
        <p>
            SDPPP is a suicide prevention and recovery program that provides multiple approaches to increase wellness, resiliency, and protective factors
            among those at risk for or impacted by suicide.  While the statistics on suicide are troubling for every age group, SDPPP offers paths
            to intervention that encourages individuals, families and communities to learn the warning signs and get help when help is needed.
        </p>
        <p>
            <a href="https://www.sdp3.org">link</a>
        </p>
    </div>
</div>
