@{
    ViewData["Title"] = "Research";
}

<div class="text-center">
    <h1 class="display-4">Research</h1>

    <div>
        <p>
            Research on CRM is in its infancy. CRM was derived from body-based psychotherapy and developed by
            Elaine Miller-Karas and colleagues after survivors of natural disasters (tsunami, earthquake, and
            hurricanes) received brief, somatically-based interventions and subsequently demonstrated high rates
            of PTSD resolution. Persons who have endured chronic or cumulative trauma, have also demonstrated
            significant improvement in mental health accompanied by continued daily use of CRM’s emotional
            stabilization skills. In CRM’s first randomized controlled trial (RCT) of 77 hospital nurses, the CRM group
            demonstrated reduced secondary traumatic stress and physical complaints and improved emotional
            well-being and resiliency after a single 3-hour CRM class; nurses used the simple CRM techniques of
            tracking body sensations and grounding during tense or chaotic clinical situations, codes, and with dying
            patients. Research has also been conducted at Loma Linda University in international settings.
        </p>

        <button type="button" class="collapsible">The Community Resiliency Model® to promote nurse well-being</button>
        <div class="subcontent">
            <h3>For a full description of the research, you can go to this <a href="https://www.nursingoutlook.org/article/S0029-6554(19)30325-2/abstract">link</a></h3>
            <p>
                <b>Background:</b> Rising rates of secondary traumatic stress and burnout among nurses
                signal a crisis in healthcare. There is a lack of evidence regarding effective interventions
                to improve nurse well-being and resiliency.
            </p>
            <p>
                <b>Purpose:</b> This study used a randomized controlled trial parallel design to test the
                effectiveness of a 3-hour Community Resiliency Model (CRM) training, a novel
                set of sensory awareness techniques to improve emotional balance.
            </p>
            <p>
                <b>Methods:</b> Registered nurses in two urban tertiary-care hospitals were invited to
                participate, which entailed attending a single 3-hour “Nurse Wellness and Wellbeing”
                class; 196 nurses consented and were randomized into the CRM intervention
                or nutrition education control group to determine if the CRM group would
                demonstrate improvement in well-being and resiliency, secondary traumatic
                stress, burnout, and physical symptoms.
            </p>
            <p>
                <b>Findings:</b> Pre/post data were analyzed for 40 CRM and 37 nutrition group members.
                Moderate-to-large effect sizes were demonstrated in the CRM group for
                improved well-being, resiliency, secondary traumatic stress, and physical symptoms.
                Participants reported using CRM techniques for self-stabilization during
                stressful work events.
            </p>
            <p>
                <b>Conclusion:</b> CRM shows promise as a brief resiliency training for hospital-based
                nurses.
            </p>

            @*<p>
            Dr. Linda Grabbe, faculty at the School of Nursing at Emory University is leading research efforts about the effectiveness of the Community Resiliency Model.
            Dr. Grabbe recently reported on unpublished research (expected publication in 2020).
            Her research questions were will a 3-hour CRM training increase sense of well-being and resilience and will the skills decrease secondary traumatic stress, burnout, and somatic symptoms?
        </p>

        <p>
            The nurses who answered her preliminary questions prior to the study reported as follows:
        </p>

        <ul>
            <li>
                36.4%--poor mental well-being
            </li>
            <li>
                54.6%--low resiliency
            </li>
            <li>
                36.4%--possible PTSD
            </li>
            <li>
                30.6%--high or very high somatic symptoms
            </li>
            <li>
                12.5%--burnout symptoms often or to a high degree
            </li>
            <li>
                34.4%--burnout symptoms sometimes or somewhat
            </li>
        </ul>

        <div>
            <b>Community Resiliency Model Randomized Control Trial with Nurses</b>

            <b>Emory University</b>
        </div>


        <p>
            Dr. Linda Grabbe, faculty at the School of Nursing at Emory University is leading research efforts about the effectiveness of the Community Resiliency Model.
            Dr. Grabbe recently reported on unpublished research (expected publication in 2020).
            Her research questions were will a 3-hour CRM training increase sense of well-being and resilience and will the skills decrease secondary traumatic stress, burnout, and somatic symptoms?
        </p>

        <p>
            The nurses who answered her preliminary questions prior to the study reported as follows:
        </p>

        <ul>
            <li>
                36.4%--poor mental well-being
            </li>
            <li>
                54.6%--low resiliency
            </li>
            <li>
                36.4%--possible PTSD
            </li>
            <li>
                30.6%--high or very high somatic symptoms
            </li>
            <li>
                12.5%--burnout symptoms often or to a high degree
            </li>
            <li>
                34.4%--burnout symptoms sometimes or somewhat
            </li>
        </ul>


            <p>
                She conducted a randomized control trial, with participants in the experimental group attending a half day CRM Training and the control group participating in a half day nutrition group.
                The participants were evaluated at the end of the trainings, three months after and one year after completing the trainings.   There was consistent improvement over the year.
                At year’s end for those participating in the CRM group, the nurses reported 80% improvement in wellbeing, 40% improvement in resilience and a 62.5% improvement in secondary traumatic stress reactions.
                There was an additional 60% increase in improvement in somatic symptoms.  The CRM group demonstrated greater improvement when compared to those participating in the nutrition group.
            </p>

            <p>
                Dr. Grabbe’s recommendations to Emory University included incorporating 3-hour trainings on-site for nurses, physicians and other medical personnel.  She also suggested offering
                “booster” sessions; resiliency rounds to promote a common resiliency language based on the result of her study.
            </p>
            *@
        </div>

        <button type="button" class="collapsible">The Community Resiliency Model®: a Pilot of an Interoception Intervention to Increase the Emotional Self-Regulation of Women in Addiction Treatment</button>
        <div class="subcontent">
            <h3>For a full description of the research, you can go to this <a href="https://link.springer.com/article/10.1007/s11469-019-00189-9">link</a></h3>
            <p>
                Addiction is associated with trauma, and a body-based approach may help attenuate the
                long-term impacts of trauma, including addiction and mental disorders. The Community
                Resiliency Model® (CRM) is a novel, simple, body-based set of sensory awareness skills,
                which focus on “felt-sense” or interoception. We provided a single 5-h Community
                Resiliency Model® class in an urban drug treatment center for impoverished women in
                the Southeastern US. Using a pre-post mixed methods design, we collected data from 20
                women on well-being, physical symptoms, anger, depression, anxiety, and spirituality.
                The post-test revealed that participant somatic complaints, anger, and anxiety symptoms
                had declined significantly, with a moderate to large effect size; well-being increased
                significantly, with a small effect size. Participants found the skills and concepts of CRM
                helpful and shared them with others. CRM is a feasible, inexpensive, and acceptable
                training that may be valuable for persons with addictions.
            </p>
        </div>

        @*<<button type="button" class="collapsible">Community Resiliency Model® in Sierra Leone</button>
        <div class="subcontent">
            <p>
                Loma Linda University Behavioral Health (LLUSBH) has two publications currently pending, which reflect on the effectiveness and scalability of CRM® in Sierra Leone. Below, is the summary of their research:
            </p>

            <p>
                In 2016, Loma Linda University (LLU) provided CRM® interventions in Sierra Leone following the Ebola Crisis. The LLU crisis teams provided an initial two-and-half-day CRM® intervention to 40 community members.
                They then selected 22 individuals from that group of participants to complete a 5-day Teacher Training curriculum.
                Upon completion of the 5-day training, 19 of those 22 participants then went out and conducted CRM® trainings for various community members in their own communities.
                Data was collected from the 22 Sierra Leone CRM® Teachers (SLTs) at four different times: (1) prior to the 2.5 day CRM® intervention (baseline), (2) prior to the 5-day CRM® Teacher Training, (3) at the end of the 5-day TT program, and (4) at a 6-month follow up.
                Data was only collected on 19 of the 22 participants at the 6-month follow up due to non-attendance.
            </p>

            <p>
                59 community members received a 3-day CRM® intervention from the SLTs, which was observed by the LLU CRM® Trainers.
                Data was also collected from this cohort of 59 at two different times: (1) prior to the CRM® intervention (baseline) and (2) at the end of the 3-day CRM® intervention.
                Each participant from both groups was assessed for their overall understanding of the emotional, physical and behavioral reactions to trauma, their perceived ability to manage trauma-related stress and anxiety of recipients, as well as their confidence in providing the CRM® services.
                A 5-point Likert scale was used to assess each of these three areas.
            </p>

            <p>
                Results showed that for the 22 SLTs, there were statistically significant increases across the trainings in the participants’ understanding of trauma, their knowledge of ways to manage anxiety and stress, and their confidence in providing CRM® services.
                Interestingly, results for the 59 community members that were trained by the SLTs, nearly showed identical statistically significant improvements in all three areas.
                This suggests that CRM® trainings can truly help develop trauma-informed communities wherein individuals participating in a CRM® TtT program can help other community members become trauma-informed, resulting in similar effects that ripple outward.
            </p>

            <p>
                In addition, each participant was assessed for resiliency and improved ability to manage stress and post-traumatic dysregulation. The Conner-Davidson Resiliency Scale 10 was used to capture changes in resilience pre- and post-intervention.
                Meanwhile, the Patient Health Questionnaire and Generalized Anxiety Disorder Questionnaire, were used to assess symptoms consistent with depression and anxiety, respectively.
                The Secondary Trauma Stress Scale was employed to determine the degree to which each participant experienced vicarious trauma. Moreover, the Harvard Trauma Questionnaire-Revised assessed the extent of pre-existing PTSD symptoms.
                Finally, the 5 Facet Questionnaire was used to evaluate various elements of mindfulness.
            </p>

            <p>
                Results for the 22 SLTs indicated a statistically significant improvement in resiliency and a statistically significant reduction in trauma symptoms, secondary (i.e., vicarious) traumatic stress, depression and anxiety across the trainings.
                These improvements remained consistent amongst the 19 SLTs even when assessed at the 6-month follow-up. Likewise, a similar pattern was observed in the 59 community members that were trained by the SLTs.
                This suggests that the positive effects experienced in the 22 SLTs, originally trained by the LLU training team, were “passed on” to the community members that they themselves trained.
                This, in turn, suggests that CRM® trainings, especially the Teacher Training program, can help develop resiliency-informed communities wherein community members can learn skills that not only help in their own recovery, but can empower them to effectively help their friends and family recover as well.
            </p>

            <p>
                It’s also worth noting that the cohort of 59 community members, trained by the original 19 SLTs, were a very small portion of the total number of people who received the CRM® training.
                Between the months of February and May, in 2016, a total of 518 trainings had been given, with each SLT averaging about 22 trainings each.
                The total number of participants in each training is unavailable at this moment in time, but it was estimated that these 19 SLTs likely impacted more than 900 members of their community.
                Even if only half of the “untracked” community members experienced similar results as those of the 59 community members whose data was collected, the potential impact that the CRM® interventions and Teacher Training programs can have on a community is quite remarkable.
            </p>
        </div>


        <button type="button" class="collapsible">State of California, Mental Health Services Act (2013)</button>
        <div class="subcontent">
            <b>Community Resiliency Model Innovation Project</b>

            <p>
                The Department of Behavioral Health (DBH) in San Bernardino County Community Resiliency Training (CRM®) Innovation Project was initiated in December 2010 through the California Mental Health Services Act - Proposition 63 and completed December 2013.
                Implemented by DBH and the Trauma Resource Institute (TRI), the goal of the project was to bring biologically based trauma intervention training, the Community Resiliency Model® training, to seven marginalized groups in San Bernardino County who have limited financial and logistical access to mental health resources.
                The intent has been to expand local response capacity by offering training in CRM® skills, designed to address the needs of community members needing mental health education and coping skills.
                These groups were chosen because they were likely experiencing the effects of the cumulative trauma that is associated with racism, homophobia, poverty and untreated posttraumatic stress from military service including combat.
            </p>

            <p>
                All of the 109 participants among the six groups (Veterans, African-Americans, Asian-Pacific Islanders, GLBTQ, At-Risk Youth and Latinos) received group sessions of CRM®, as well as individual sessions in either demonstrations or in work with a Trainer under supervision.
            </p>
            <ul>
                <li>62% of the participants were female</li>
                <li>38% were male</li>
                <li>the age of the participants ranged from 22-75 years with an average age of 51.</li>
            </ul>
            <p>
                The participants reported an array of physical and emotional symptoms, reflecting the extensive impact on the mind body system when one is a member of a vulnerable group in a high poverty county. Participants reported an average of 6 physical distress symptoms and an average of 6 emotional distress symptoms.
            </p>
            <p>
                In order to assess effectiveness of treatment, trainees were assessed immediately after the training was completed, and again 3-6 months later. Combined, the groups reported improvements in the distress indicators of depression, hostility, somatic, and anxiety.
                82% of the respondents indicated less depression
            </p>
            <p>
                symptoms post training,
            </p>
            <ul>
                59% less hostility symptoms,
                59% less somatic symptoms, and
                58% less anxiety symptoms.
            </ul>
            <p>
                A major finding of the research conducted suggests that the fact that such a large percentage of depression symptoms are improved across populations suggests that using the CRM® skills, which stabilize the nervous system, and learning how to teach them to others, offers trainees a greater experience of control and empowerment, which can result in a sense of renewed hope.
            </p>
            <p>
                In order to have a preliminary assessment of the stability of treatment effects, trainees’ symptoms were assessed 3-6 months after the training. Findings indicate that at the 3-6 month follow-up, pre to follow-up comparison analyses show positive trends in the desired direction of improvement in every distress and well-being indicator, with statistically significant improvement pre to follow-up decreases in anxiety, depression and hostility symptoms.
            </p>
        </div>


        button type="button" class="collapsible">Department of Defense (2011)</button>
        <div class="subcontent">
            <p>
            The United States Department of Defense named the skills of the Trauma Resiliency Model a promising practice. This was reported by the Department of Defense in a white paper reported to the US Congress in 2011.
            </p>
        </div>*@
    </div>
    <br />
    <h4>For more information on research, please go to our parent website at the <a href="https://www.traumaresourceinstitute.com">Trauma Resource Institute</a></h4>
</div>
