@{
    ViewData["Title"] = "Research";
}

<div class="text-center">
    <h1 class="display-4">Research</h1>

    <div>
        <p>
            Research on CRM is expanding rapidly. CRM was derived from body-based psychotherapy and developed by
            Elaine Miller-Karas and colleagues after survivors of natural disasters (tsunami, earthquake, and
            hurricanes) received brief, somatically-based interventions and subsequently demonstrated high rates
            of PTSD resolution. Persons who have endured chronic or cumulative trauma, have also demonstrated
            significant improvement in mental health accompanied by continued daily use of CRM’s emotional
            stabilization skills. In CRM’s first randomized controlled trial (RCT) of 77 hospital nurses, the CRM group
            demonstrated reduced secondary traumatic stress and physical complaints and improved emotional
            well-being and resiliency after a single 3-hour CRM class; nurses used the simple CRM techniques of
            tracking body sensations and grounding during tense or chaotic clinical situations, codes, and with dying
            patients. Research has also been conducted at Loma Linda University in international settings.
        </p>

        <button type="button" class="collapsible">
        The Community Resiliency Model® to Promote Nurse Well-Being
        (Nursing Outlook 2019)
        </button>
        <div class="subcontent">
            <h3>For a full description of the research, you can go to this <a href="https://www.nursingoutlook.org/article/S0029-6554(19)30325-2/abstract">link</a></h3>
            <p>
                <b>Background:</b> Rising rates of secondary traumatic stress and burnout among nurses
                signal a crisis in healthcare. There is a lack of evidence regarding effective interventions
                to improve nurse well-being and resiliency.
            </p>
            <p>
                <b>Purpose:</b> This study used a randomized controlled trial parallel design to test the
                effectiveness of a 3-hour Community Resiliency Model (CRM) training, a novel
                set of sensory awareness techniques to improve emotional balance.
            </p>
            <p>
                <b>Methods:</b> Registered nurses in two urban tertiary-care hospitals were invited to
                participate, which entailed attending a single 3-hour “Nurse Wellness and Wellbeing”
                class; 196 nurses consented and were randomized into the CRM intervention
                or nutrition education control group to determine if the CRM group would
                demonstrate improvement in well-being and resiliency, secondary traumatic
                stress, burnout, and physical symptoms.
            </p>
            <p>
                <b>Findings:</b> Pre/post data were analyzed for 40 CRM and 37 nutrition group members.
                Moderate-to-large effect sizes were demonstrated in the CRM group for
                improved well-being, resiliency, secondary traumatic stress, and physical symptoms.
                Participants reported using CRM techniques for self-stabilization during
                stressful work events.
            </p>
            <p>
                <b>Conclusion:</b> CRM shows promise as a brief resiliency training for hospital-based
                nurses.
            </p>
        </div>

        <button type="button" class="collapsible">
            The Community Resiliency Model®: A Pilot of an Interoception Intervention to Increase the Emotional Self-Regulation of Women in Addiction Treatment
            (International Journal of Mental Health and Addiction 2020)
        </button>
        <div class="subcontent">
            <h3>For a full description of the research, you can go to this <a href="https://link.springer.com/article/10.1007/s11469-019-00189-9">link</a></h3>
            <p>
                Addiction is associated with trauma, and a body-based approach may help attenuate the
                long-term impacts of trauma, including addiction and mental disorders. The Community
                Resiliency Model® (CRM) is a novel, simple, body-based set of sensory awareness skills,
                which focus on “felt-sense” or interoception. We provided a single 5-h Community
                Resiliency Model® class in an urban drug treatment center for impoverished women in
                the Southeastern US. Using a pre-post mixed methods design, we collected data from 20
                women on well-being, physical symptoms, anger, depression, anxiety, and spirituality.
                The post-test revealed that participant somatic complaints, anger, and anxiety symptoms
                had declined significantly, with a moderate to large effect size; well-being increased
                significantly, with a small effect size. Participants found the skills and concepts of CRM
                helpful and shared them with others. CRM is a feasible, inexpensive, and acceptable
                training that may be valuable for persons with addictions.
            </p>
        </div>

        <button type="button" class="collapsible">
        Impact of a Resiliency Training to Support the Mental Well-being of Front-line Workers:
        Brief Report of a Quasi-experimental Study of the Community Resiliency Model
        (Medical Care 2021)
        </button>
        <div class="subcontent">
            <h3>For a full description of the research, you can go to this <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8191373/">link</a></h3>
            <p>
                <b>Background:</b>
                Front-line workers (FLW) are at risk for secondary traumatic stress, burnout, and related psychiatric sequelae:
                depression, anxiety, suicidality, posttraumatic stress disorder, and sleep and substance use disorders.
                FLW are in need of self-care programs to support their mental health.
            </p>
            <p>
                <b>Methods:</b>
                Quasi-experimental study to assess the impact of a simple mental well-being and emotional regulation training,
                the Community Resiliency Model (CRM), using a convenience sample of FLW. Baseline scores of mental well-being
                and stress measures were compared with follow-up scores at 3 time points. Outcomes were psychological wellness
                (World Health Organization-5 Well-being Index); resilience (Connor-Davidson Resilience Scale-10);
                traumatic stress (Secondary Traumatic Stress Scale); physical symptoms (Somatic Symptom Scale-8).

            </p>
            <p>
                <b>Results:</b>
                Of the 104 participants who enrolled and attended the CRM training, 73 (70.2%) completed at least 1 posttest.
                Well-being scores increased at 1 year with a small-moderate effect size (Cohen d=0.32).
                Resilience scores increased with a small-moderate effect size by 1 year (Cohen d=0.36).
                Secondary traumatic stress scores declined, with the largest effect at 1 week (Cohen d=0.49).
                Somatic symptoms decreased at each posttest, with the largest change occurring from baseline to 1 week (d=0.39).
                Participants reported an awareness of body sensations helped them when overwhelmed as a means of calming themselves.
            </p>
            <p>
                <b>Conclusions:</b>
                After a 3-hour CRM training, participants reported improved mental well-being and decreased secondary traumatic stress and somatic symptoms.
                This simple body awareness intervention may be a good resource during the COVID-19 pandemic.
            </p>
        </div>

        
    </div>
    <br />
    <h4>For more information on CRM research, please go to the <a href="https://www.traumaresourceinstitute.com">Trauma Resource Institute</a> website</h4>
</div>
