@{
    ViewData["Title"] = "Training";
}

    <div class="text-center">
        <h1 class="display-4">CRM Classes</h1>

        <p>Here are some resources we have available for learning CRM.</p>

        <p><b>1 hour CRM Introduction</b> : an overview of CRM concepts and skills</p>

        <p><b>3 hour CRM Workshop</b> : concepts and skills in greater depth with guided practice</p>

        <p><i>All classes are currently virtual</i></p>

        <p>Contact us for pricing options!</p>

        <p>
            Free 1 hour CRM Recording
            <a href="https://ce.emorynursingexperience.com/courses/cultivating-our-best-selves-in-response-to-covid-19">Link</a>
        </p>

        <p>There is also a free CRM app <b>ichill</b> or go to <a href="http://www.ichillapp.com">www.ichillapp.com</a></p>

        <p>CRM Teacher Certification from the <a href="https://www.traumaresourceinstitute.com">Trauma Resource Institute</a></p>

        <p><b>Groups that we have taught</b></p>
        <ul>
            <li>list item 1</li>
            <li>list item 2</li>
        </ul>

        <p>Please note that Georgia currently has over 30 certified CRM teachers</p>
    </div>
