@{
    ViewData["Title"] = "Training";
}

    <div class="text-center">
        <h1 class="display-4">CRM Classes</h1>

        <h4>Some resources we have available for learning CRM.</h4>

        <p><b>1 hour CRM Introduction</b> : an overview of CRM concepts and skills</p>

        <p><b>3 hour CRM Workshop</b> : concepts and skills in greater depth with guided practice</p>

        <p><i>All classes are currently virtual</i></p>

        <p>Contact us for pricing options!</p>

        <p>
            Free 1 hour CRM Recording
            <a href="https://ce.emorynursingexperience.com/courses/cultivating-our-best-selves-in-response-to-covid-19">Link</a>
        </p>

        <p>
            Free Podcast episode "Widening Your Resiliency Zone Through Community Resiliency Model" featuring Linda Grabbe, PhD, FNP-BC, PMHNP-BC
            <a href="https://thewholehealthcure.simplecast.fm/9624ce06">Link</a>
        </p>

        <p>There is also a free CRM app <b>ichill</b> or go to <a href="http://www.ichillapp.com">www.ichillapp.com</a></p>

        <p>CRM Teacher Certification from the <a href="https://www.traumaresourceinstitute.com">Trauma Resource Institute</a></p>

        <h4><b>Groups that we have taught</b></h4>
        <div id="taughtList">
            <ul>
                <li>100 K-12 school counselors Newton County 2019</li>
                <li>200 social service workers for Promoting Safe and Stable Families 2020</li>
                <li>50 council members for Prevent Child Abuse Georgia 2020</li>
                <li>100 police officers and dispatchers Georgia Association of Women in Public Safety 2017</li>
                <li>500 students at Nell Hodgson Woodruff School of Nursing 2017-2020</li>
                <li>100 nurses at Emory Healthcare 2018</li>
                <li>40 staff Georgia Department of Juvenile Justice 2017</li>
                <li>100 community members and healthcare providers at Emory Healthcare 2018</li>
                <li>500 homeless youth at Covenant House Georgia 2016-2020</li>
                <li>50 women at Mary Hall Freedom House 2018</li>
            </ul>
        </div>

        <h4><i>Please note that Georgia currently has over 30 certified CRM teachers</i></h4>
    </div>
