@{
    ViewData["Title"] = "Training";
}

    <div class="text-center">
        <h1 class="display-4">CRM Classes</h1>

        <p>Here are some resources we have available for learning CRM.</p>

        <p>1 hour introduction</p>

        <p>3 hour workshop</p>

        <p>Contact us for pricing options!</p>

        <p>
            Free 1 hour CRM Recording
            <a href="https://ce.emorynursingexperience.com/courses/cultivating-our-best-selves-in-response-to-covid-19">Link</a>
        </p>

        <p>There is also a free CRM app <b>ichill</b> or go to <a href="http://www.ichillapp.com">www.ichillapp.com</a></p>

        <p>CRM Teacher Certification from the <a href="https://www.traumaresourceinstitute.com">Trauma Resource Institute</a></p>
    </div>
